.services {
    display: grid;
    place-items: center;
    background-color: var(--clr-bg-opacity-800);
    color: var(--clr-neutral-100);
}

.services__grid {
    display: grid;
    place-items: center;
}

.services__text {
    padding-block: var(--size-400);
}

.card[data-section='services'] {
    position: relative;
    width: 100%;
    aspect-ratio: 4 / 5;
    isolation: isolate;
}

.card[data-section='services'] .card__media, 
.card[data-section='services'] .card__media > img {
    width: 100%;
    height: 100%;
}

.card[data-section='services'] .card__media::after {
    content: '';
    position: absolute;
    background-color: hsl(0, 0%, 0%, 0.3);
    inset: 0;
}

.card[data-section='services'] .card__media img {
    object-fit: cover;
    z-index: -1;
}

.card[data-section='services'] .card__body {
    --padding: var(--size-150);

    position: absolute;
    color: var(--clr-neutral-100);
    background: linear-gradient(
        var(--clr-bg-opacity-100),
        var(--clr-bg-opacity-700) 18%,
        var(--clr-bg-opacity-900)
    );
    bottom: 0;
    padding: var(--padding);
    z-index: 2;
}

.card[data-section='services'] .card__body h3 {
    position: relative;
    font-family: var(--ff-primary);
    font-weight: var(--fw-bold);
    text-transform: uppercase;
    display: inline-block;
}

.card[data-section='services'] .card__body h3::after {
    position: absolute;
    content: '';
    width: calc(100% + var(--padding));
    height: 4px;
    background-color: var(--clr-primary-400);
    left: calc(var(--padding) * -1);
    bottom: 0;
}

.card[data-section='services'] .card__body p {
    padding-top: var(--size-50);
}

@media (min-width: 69em) {
    .services {
        grid-template-columns: auto max(36.5vw, 30rem);
        grid-template-areas: "services-grid services-text";
        user-select: none;
    }

    .services__grid {
        grid-template-columns: repeat(3, 1fr);
        gap: var(--size-200);
        padding: var(--size-400);
        grid-area: services-grid;
    }

    .card[data-section='services'] {
        border-radius: var(--size-10);
        overflow: hidden;
    }

    .card[data-section='services'] .card__body h3 {
        font-size: var(--fs-200);
    }

    .card[data-section='services'] .card__body p {
        font-size: var(--fs-100);
    }

    .services__text {
        max-width: 45ch;
        grid-area: services-text;
    }
}

@media (hover: hover) {
    .card[data-section='services'] {
        transition: transform 500ms ease;
    }
    .card[data-section='services']:hover {
        transform: scale(1.025);
    }

    .card[data-section='services'] .card__media::after {
        opacity: 1;
        transition: opacity 500ms ease;
    }
    .card[data-section='services']:hover .card__media::after {
        opacity: 0.35;
    }
    .card[data-section='services'] .card__body {
        transform: translateY(54%);
        transition: transform 500ms ease;
    }
    .card[data-section='services']:hover .card__body {
        transform: translateY(0%);
    }
}