.about-us {
    display: grid;
    place-items: center;
}

.about-us__text {
    display: grid;
    padding-block: var(--size-400);
}

.about-us__text h2 {
    line-height: 1.1;
    padding-top: var(--size-25);
    padding-bottom: var(--size-150);
}

.about-us__text p:last-of-type {
    padding-top: var(--size-150);
    padding-bottom: var(--size-150);
}

.about-us__text button {
    padding-block: var(--size-50);
}

.about-us__media {
    display: none;
}

@media (min-width: 63em) {
    .about-us {
        grid-template-columns: auto max(36.5vw, 30rem);
        grid-template-rows: repeat(2, 1fr);
    }

    .about-us__text {
        display: flex;
        flex-direction: column;
        max-width: 50ch;
        grid-row: span 2;
    }

    .about-us__text button {
        padding-inline: var(--size-250);
        align-self: flex-start;
    }

    .about-us__main-picture {
        width: 100%;
        height: 100%;
    }

    .about-us__main-picture, .about-us__main-picture p:first-child {
        position: relative;
    }

    .about-us__main-picture::before {
        content: '';
        background: url(../../assets/images/about-us-main-picture.jpg) no-repeat;
        background-size: cover;
        position: absolute;
        inset: -22% 0 0 0;
    }

    .about-us__main-picture div {
        position: absolute;
        left: var(--size-325);
        bottom: var(--size-325);
        text-transform: uppercase;
    }

    .about-us__main-picture p:first-child::after {
        content: '';
        height: 3px;
        width: 20%;
        background-color: var(--clr-accent-400);
        position: absolute;
        left: 0;
        bottom: var(--size-75);
    }

    .about-us__statistics {
        display: grid;
        align-items: end;
        grid-template-columns: 70% auto;
        width: 100%;
        height: 100%;
    }
}