.about-us {
    display: grid;
    place-items: center;
    background-color: var(--clr-neutral-100);
    isolation: isolate;
}

.about-us__text {
    position: relative;
    max-width: 45ch;
    margin-block: var(--size-400);
}

.about-us__text button {
    padding-block: var(--size-50);
    margin-top: var(--size-150);
}

.about-us__text .main, .about-us__text .complement {
    display: grid;
    background-color: var(--clr-neutral-100);
}

.about-us__text .main p:last-of-type {
    padding-top: var(--size-150);
}

.about-us__text .main {
    opacity: 1;
    transition: opacity 200ms ease-in;
}

.about-us__text .main[data-hide] {
    opacity: 0;
}

.about-us__text .complement {
    position: absolute;
    font-size: clamp(var(--fs-100), 1.39vw, var(--fs-250));
    top: 0;
    left: 0;
    opacity: 0;
    transform: translateX(-100%);
    transition-property: opacity, transform;
    transition-duration: 200ms, 500ms;
    transition-timing-function: ease-in;
}

.about-us__text .complement[data-show] {
    opacity: 1;
    transform: translateX(0);
}

.about-us__text .complement h3:first-of-type {
    padding-top: 0;
}

.about-us__text .complement h3 {
    padding-block: var(--size-75) var(--size-25);
}

.about-us__main-picture, .about-us__statistics {
    display: none;
}

@media (min-width: 69em) {
    .about-us {
        grid-template-columns: auto max(36.5vw, 30rem);
        grid-template-rows: repeat(2, 1fr);
    }

    .about-us__text {
        max-width: 50ch;
        grid-row: span 2;
    }
    
    .about-us__text .main, .about-us__text .complement {
        display: flex;
        flex-direction: column;
    }

    .about-us__text button {
        align-self: flex-start;
        padding-inline: var(--size-250);
    }

    .about-us__main-picture {
        display: block;
        width: 100%;
        height: 100%;
    }

    .about-us__main-picture, .about-us__main-picture p:first-child {
        position: relative;
    }

    .about-us__main-picture::before {
        content: '';
        background: url(../../assets/images/about-us-main-picture.jpg) no-repeat;
        background-size: cover;
        background-position: center;
        position: absolute;
        inset: -6vw 0 0 0;
    }

    .about-us__main-picture div {
        position: absolute;
        left: var(--size-325);
        bottom: var(--size-325);
        text-transform: uppercase;
    }

    .about-us__main-picture p:first-child::after {
        content: '';
        height: 3px;
        width: 20%;
        background-color: var(--clr-accent-400);
        position: absolute;
        left: 0;
        bottom: var(--size-75);
    }

    .about-us__statistics {
        display: grid;
        grid-template-columns: 7% 7% 7% 50% auto;
        grid-template-rows: 25% 5% 30% 20% 20%;
        grid-template-areas: 
            ". . . . ."
            ". indicator . percentaje percentaje"
            ". . . percentaje percentaje"
            ". . . description ."
            ". . . . ."
        ;
        width: 100%;
        height: 100%;
    }

    .about-us__statistics-indicator {
        position: relative;
        grid-area: indicator;
        width: 100%;
        height: 100%;
    }

    .about-us__statistics-indicator::before {
        position: absolute;
        content: '';
        height: 2px;
        width: var(--size-300);
        transform: rotate(-45deg);
        top: var(--size-100);
        background-color: var(--clr-neutral-100);
    }

    .about-us__statistics-indicator::after {
        position: absolute;
        font-family: var(--ff-primary);
        font-weight: var(--fw-light);
        content: '02';
        top: var(--size-100);
        left: var(--size-100);
    }

    .about-us__statistics-percentaje {
        grid-area: percentaje;
        width: 100%;
        height: 100%;
        border-left: 2px solid var(--clr-neutral-100);
        padding-left: var(--size-150);
    }
    
    .about-us__statistics-description {
        grid-area: description;
        width: 100%;
        height: 100%;
        border-left: 2px solid var(--clr-neutral-100);
        padding-left: var(--size-150);
    }
}

@media (min-width: 121em) {
    .about-us {
        grid-template-columns: auto max(36.577%, 30rem);
    }

    .about-us__main-picture::before {
        inset: -22.327% 0 0 0;
    }
}