.navbar {
    font-family: var(--ff-primary);
    font-size: var(--fs-250);
    font-weight: var(--fw-regular);
    text-transform: uppercase;
    color: var(--clr-neutral-100);
    background-color: transparent;
    padding-block: var(--size-250);
    position: fixed;
    inset: 0 0 auto 0;
    z-index: 100;
}

.navbar__container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.navbar__brand img{
    display: none;
    width: 5.7rem;
}

.navbar__mobile-menu-toggle {
    display: none;
}

.navbar__links {
    display: flex;
    gap: var(--size-150);
}

.navbar__links li {
    color: inherit;
    cursor: pointer;
}

.navbar__links li:hover, .navbar__links a:focus-visible {
    outline: 0;
    color: var(--clr-accent-100);
}

.navbar__links a {
    font-size: 1em;
}

@media (max-width: 63em) {
    .navbar {
        color: var(--clr-primary-400);
        background-color: var(--clr-neutral-100);
        padding-block: 0;
    }

    .navbar__brand img{
        display: block;
        width: 4.125rem;
        padding-block: var(--size-75);
    }

    .navbar__container {
        height: auto;
        background-color: inherit;
    }
    
    .navbar__mobile-menu-toggle {
        display: block;
        color: inherit;
        background-color: transparent;
        border: 0;
        margin-left: auto;
    }

    .navbar__icon {
        display: none;
        color: inherit;
        width: 2rem;
    }

    ul.navbar__links {
        display: none;
        background-color: inherit;
        height: 100vh;
    }

    ul.navbar__links li {
        width: 100vw;
        line-height: 1;
        display: grid;
        place-items: center;
        padding-block: max(2.765vh, var(--size-75));
        border-bottom: 1px solid var(--clr-accent-100);
    }

    ul.navbar__links li:first-child {
        border-top: 1px solid var(--clr-accent-100);
    }

    .navbar__icon[data-visible] {
        display: block;
    }

    .navbar__links[data-expanded] {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0;
    }
}