.navbar {
    font-family: var(--ff-primary);
    font-size: var(--fs-100);
    font-weight: var(--fw-regular);
    text-transform: uppercase;
    color: var(--clr-neutral-100);
    /* background-color: var(--clr-primary-400); */
    background-color: transparent;
    padding-block: var(--size-25);
    position: fixed;
    inset: 0 0 auto 0;
    z-index: 100;
}

.nav-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.brand img{
    width: 5.7rem;
}

.mobile-menu-toggle {
    display: none;
}

.nav-icon {
    display: none;
    color: inherit;
    width: 1.9rem;
}

.nav-links {
    display: flex;
    gap: var(--size-125);
}

.nav-links li {
    color: inherit;
    cursor: pointer;
}

.nav-links li:hover, .nav-links a:focus-visible {
    outline: 0;
    color: var(--clr-accent-100);
}

.nav-links a {
    font-size: 1em;
}

@media (max-width: 63em) {
    .navbar {
        padding-block: 0;
    }

    .brand img{
        width: 4.125rem;
    }

    .nav-container {
        background-color: inherit;
    }
    
    .mobile-menu-toggle {
        display: block;
        color: inherit;
        background-color: transparent;
        border: 0;
        margin-left: auto;
    }

    ul.nav-links {
        display: none;
        background-color: inherit;
        height: 100vh;
    }

    ul.nav-links li {
        width: 100vw;
        line-height: 1;
        display: grid;
        place-items: center;
        padding-block: max(2.765vh, var(--size-75));
        border-bottom: 1px solid var(--clr-accent-100);
    }

    ul.nav-links li:first-child {
        border-top: 1px solid var(--clr-accent-100);
    }

    .nav-icon[data-visible] {
        display: block;
    }

    .nav-links[data-expanded] {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0;
    }
}